:root {
  --color-primary: #BF092F;
  --color-dark: #132440;
  --color-blue: #16476A;
  --color-teal: #3B9797;
}
body {
background-color: var(--color-dark);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
}

/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  padding: 7px 40px;
  
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  text-align: center;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Search box */
.search-box input {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: var(--color-dark);
  color: white;
}
.search-box input::placeholder {
  color: #bbb;
}

/* Hero */

.hero {
position: relative;
height: 100vh;
background:
    linear-gradient(to right, rgba(255, 60, 0, 0.5), rgba(0, 60, 255, 0.5)),
    linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)),
    url('images/Hero-background.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.hero-content {
  max-width: 850px;
  padding: 20px;
}
.hero h1 {
  font-size: 2.7rem;
  line-height: 1.4;
  margin-bottom: 25px;
  font-weight: 600;
  color: white;
}
/* Button */
.hero-btn {
  display: inline-block;
  padding: 14px 32px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease;
  align-items: flex-end;
}

.btn:hover {
  background: #b20710;
  transform: translateY(-2px);
}

.categories {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 20px;
  background: var(--color-dark); 
}
/* categories Button */
.cat-btn {
  background:var(--color-blue);
  color: #fff;
  border: none;
  padding: 12px 40px;
  font-size: 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* Hover effect */
.cat-btn:hover {
  background: var(--color-teal);
 
}


/* ////cards////// */

.cards-content {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
}
.card {
background-color: var(--color-blue);
border-radius: 10px;
padding: 10px;
text-align: center;
color: white;
transition: transform 0.3s ease;

}
.card img {
width: 100%;
height: 280px;
border-radius: 8px;
object-fit: cover;

}
.card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.card p {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 10px;
}
.card button {
  background: var(--color-primary);
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.3s;
}
.card button:hover {
  background: #c82333;
}

.favorites {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
}

.fav-h3 {

text-align: center;
color: white;

}
/* Footer styling */
.footer {
  background-color: #1f4e6d;
  color: white;
  padding: 20px 40px;
}

/* Layout */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo */
.logo {
  color: red;
  font-size: 28px;
  margin: 100px;
}

/* Left */
.footer-left p {
  margin: 5px 12;
  font-size: 14px;
}

/* Center links */
.footer-center {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-center a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-center a:hover {
  text-decoration: underline;
}

/* Right */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.footer-right a {
  color: white;
  text-decoration: none;
}

.footer-right input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}

@media (max-width: 900px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 500px) {
  .cards { grid-template-columns: 1fr; }
}